# Created by .ignore support plugin (hsz.mobi)
.idea/
target/
/*.iml
*.log
*.orig
.metadata
.metadata/*
**/log/
**/logs/
**/target/
**/bin/
**/pom.xml.tag
**/pom.xml.releaseBackup
**/pom.xml.versionsBackup
**/pom.xml.next
